.meal {
    list-style: none;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.meal-info {
    width: 65%;
    transition: 200ms;
}

.meal:hover .meal-info {
    opacity: 0.8;
    transform: translatex(1rem);
}

.title {
    font-size: 1.1rem;
}

.price {
    font-weight: normal;
    margin-left: 1rem;
}

.description {
    margin-top: 0.5rem;
}

@media(max-width: 750px) {
    .meal-info {
        width: 70%;
    }
}

@media(max-width: 450px) {
    .meal:hover .meal-info {
        opacity: 0.8;
        transform: translatey(0.8rem);
    }

    .meal-info {
        width: 100%;
    }

    .meal {
        flex-direction: column;
        margin: 4rem 0;
    }
}