.meal-form {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.meal-form input {
    padding: 0.5rem 0.4rem;
    width: 4rem;
    height: 2.5rem;
    border: 1px solid #181C0D;
    border-right: none;
    font-size: 1.1rem;
    text-align: center;
    background-color: #E7EDEC;
    color: #181C0D;
}

.meal-form button {
    padding: 0.5rem 0.4rem;
    width: 4rem;
    height: 2.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #181C0D;
    border-left: none;
    font-size: 1.1rem;
    text-align: center;
    color: #181C0D;
    background-color: #FEC134;
    transition: 200ms;
}

.meal-form button:hover {
    cursor: pointer;
    color: #181C0D;
    background-color: #E7EDEC;
}

@media(max-width: 600px) {
    .meal-form {
        width: 25%;
    }

    .meal-form input {
        padding: 0.5rem 0.3rem;
        width: 3.5rem;
        font-size: 1rem;
    }
}

@media(max-width: 450px) {
    .meal-form {
        margin-top: 1.1rem;
        width: 100%;
    }

    .meal-form input {
        padding: 0.5rem 0.4rem;
        width: 4rem;
        font-size: 1.1rem;
    }
}