.menu-section {
    list-style: none;
    padding: 1.5rem 0;
}

.section-title {
    font-size: 2rem;
    text-align: center;
}

@media(max-width: 650px) {
    .section-title {
        font-size: 1.8rem;
    }
}