.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    background-color: transparent;
    color: #4D741A;
    transition: 200ms;
}

.actions .button:hover,
.actions .button--alt:hover {
    border-color: #ECEED2;
    color: #ECEED2;
}

.actions .button--alt:hover {
    background-color: #181C0D;
}

.actions .button:hover {
    background-color: #FEB403;
}

@media (max-width: 550px) {
    .actions {
        text-align: center;
    }
}